<footer class="footer">
    <p class="footer-text">&copy; <%= new Date().getFullYear() %> DanBlog. All rights reserved.</p>
</footer>

<!-- Link the JS -->
<script src="/js/main.js"></script>
</body>
</html>
