<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>DanBlog</title>
   <!-- CSS files -->
  <link rel="stylesheet" href="/css/header.css" />
  <link rel="stylesheet" href="/css/footer.css" />
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/create-post.css" />
  <link rel="stylesheet" href="/css/posts.css" />
</head>
<body>
  <nav class="navbar">
    <h1 class="brand"><a href="/">DanBlog</a></h1>
    <button class="toggle-button" aria-expanded="false" aria-label="Menu">&#9776;</button>
    <div class="nav-links">
      <a href="/">Home</a>
      <a href="#">About</a>
      <a href="#">Contact</a>
    </div>
  </nav>
  <script src="/js/main.js"></script>
  






   
