* {
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Inter', sans-serif;
  height: 100%;
  margin: 0;
}

.add-post-btn{
    position: absolute;
    justify-content: flex-end;
    padding: 7px;
    border-radius: 6px;
    border-width: 2px;
    cursor: pointer;
    right: 40px;
    margin-top: 20px;
    font-size: 20px;
    background-color: white;
    color: #666; 
    transition: all 0.25s ease; 
}
.add-post-btn:hover{
    color: black;
}

.btn-primary {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    background-color: #0095f6; 
    color: white;
    border: none;
    border-radius: 8px;    
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 149, 246, 0.3); /* subtle glow */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-primary:hover {
    background-color: #0077cc; 
    box-shadow: 0 6px 12px rgba(0, 119, 204, 0.5);
    color: white;
}

.btn-primary:active {
    background-color: #005fa3;  
    box-shadow: none;
}

